* {
  margin:0;
  padding:0;
  /*For debugging of boxes/layout.*/
  /*border: .5px solid red;*/
}

html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body {
    color: #414141;             /* Dark Grey */
    font-family: Verdana, Geneva, sans-serif;
    font-weight: normal;

    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

h1 {
  font-size: 3.5em;
  font-family: Century Gothic, sans-serif;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 15px;
}

.menubar {
  display: flex;
  list-style-type: none;
  margin-left: 40px;
  flex-flow: row wrap;
}

.menuitem {
  padding-right: 20px;
}

a {
  color: #34435D;
  text-decoration: none;
  font-weight: bold;
}

.content {
  margin-bottom: auto;
  margin-left: 30px;
  margin-right:30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.favorites-list {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 15px;
}

.list {
  margin-left: 30px;
}

.favorites-list-item {
  font-weight: bold;
  margin-top: 10px;
}

.footer {
  display: flex;
  height: 70px;
  width: 100%;
  align-items: flex-end;
}

.footerinfo {
  color: #CCDBF6;
  margin-left: 10px;
  margin-bottom: 10px;
}


/* This is for scaling the menu for mobile properly */
@media all and (max-width: 800px) {
  .menubar {
    margin-left: 0px;
    justify-content: center;
  }
  .menuitem {
    padding-top: 10px;
    padding-left: 5px;
  }
  .footerinfo {
    font-size: .75em;
  }
  .content {
    margin-left: 15px;
    margin-right: 15px;
  }
}
